#admin-layout {
  font-family: Arimo,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#admin-layout .page-container {
  display: table;
  width: 100%;
  height: 100%;
}

#admin-layout .page-container .side-nav {
  display: table-cell;
  line-height: 1.5;
  font-size: 14px;
  background-color: #343a40;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 340px;
  height: 100%;
}

#admin-layout .page-container .side-nav .title h3 {
  margin: 25px 5px 25px 10px;
  font-weight: 600;
  color: #000;
  text-shadow: 2px 2px #464646;
}

#admin-layout .page-container .side-nav .menu-items {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

#admin-layout .page-container .side-nav .menu-items .item {
  border-bottom: 1px solid #282828;
  position: relative;
}

#admin-layout .page-container .side-nav .menu-items .item:first-child {
  border-top: 1px solid #282828;
}

#admin-layout .page-container .side-nav .menu-items .item a {
  display: block;
  position: relative;
  padding: 8px 40px 8px 25px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#admin-layout .page-container .side-nav .menu-items .item a:hover {
  color: #fff;
}

#admin-layout .page-container .side-nav .menu-items .item .sub-menu-items {
  list-style: none;
  padding-left: 20px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

#admin-layout .page-container .side-nav .menu-items .has-sub.expanded .sub-menu-items {
  max-height: 200px;
}

#admin-layout .page-container .side-nav .menu-items .has-sub.expanded > a:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#admin-layout .page-container .side-nav .menu-items .has-sub > a:after {
  color: inherit;
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\F107";
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
  font-size: 16px;
}

#admin-layout .page-container .side-nav .active {
  color: #fff;
}

#admin-layout .page-container .main-content {
  display: table-cell;
}

#admin-layout .page-container .main-content .top-nav {
  line-height: 1;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

#admin-layout .page-container .main-content .top-nav .menu-items {
  display: inline-block;
  padding: 0px;
  list-style: none;
  margin: 0px;
  height: 100%;
}

#admin-layout .page-container .main-content .top-nav .menu-items.side-nav {
  float: right;
  margin-right: 15px;
}

#admin-layout .page-container .main-content .top-nav .menu-items.right {
  float: right;
  margin-right: 15px;
}

#admin-layout .page-container .main-content .top-nav .menu-items .menu-item {
  position: relative;
}

#admin-layout .page-container .main-content .top-nav .menu-items .menu-item > a {
  padding: 21px 5px;
  display: block;
  color: #979898;
  text-decoration: none;
}

#admin-layout .page-container .main-content .top-nav .menu-items .menu-item.expanded .sub-menu-items {
  display: block;
}

#admin-layout .page-container .main-content .top-nav .menu-items .menu-item .sub-menu-items {
  display: none;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  position: absolute;
  right: 0px;
  top: 56px;
  padding: 0;
  list-style: none;
  min-width: 180px;
  z-index: 1;
}

#admin-layout .page-container .main-content .top-nav .menu-items .menu-item .sub-menu-items a {
  padding: 5px 10px 5px 15px;
  display: block;
  color: #979898;
  text-decoration: none;
}

@media (max-width: 768px) {
  #admin-layout .page-container {
    display: block;
  }

  #admin-layout .page-container .side-nav {
    display: none;
  }

  #admin-layout .page-container .main-content {
    display: block;
  }
}

