.section {
  padding: 30px 0;
}

.select2-selection__choice {
  color: #000;
  margin: 3px;
}

.loader {
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/img/loading.gif");
}

.loader.loader-sm {
  width: 25px;
  height: 25px;
}

.thumb {
  max-width: 150px;
  height: auto;
}

.responsive-img {
  max-height: 100%;
  width: auto;
}

.loader {
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/loading.gif");
}

.loader.loader-sm {
  width: 25px;
  height: 25px;
}

.loading-background {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.loading-background img {
  position: absolute;
  display: inline-block;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hall-block {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  overflow: hidden;
  height: 150px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hall-block .image-wrapper {
  height: 90px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hall-block .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 50px;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
}

#calendar .fc-day:hover {
  background-color: #f2eed9;
  cursor: pointer;
}

#calendar .remove-event-button {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ddd;
  z-index: 999;
}

#calendar .remove-event-button:hover {
  color: #7d7d7d;
}

