.section{
  padding: 30px 0;
}

.select2-selection__choice{
  color: #000;
  margin: 3px;
}

.loader{
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/img/loading.gif");
  &.loader-sm{
    width: 25px;
    height: 25px;
  }
}

.thumb{
  max-width: 150px;
  height: auto;
}

.responsive-img{
  max-height: 100%;
  width: auto;
}

.loader{
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/loading.gif");
  &.loader-sm{
    width: 25px;
    height: 25px;
  }
}

.loading-background{
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.7);
  display: none;
  img{
    position: absolute;
    display: inline-block;
    max-width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}