.hall-block{
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  overflow: hidden;
  height: 150px;
  position: relative;
  box-sizing: border-box;
  .image-wrapper{
    height: 90px;
    position: relative;
    box-sizing: border-box;
    img{

    }
  }
  .title{
    box-sizing: border-box;
    max-height: 50px;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
  }
}

#calendar{
  .fc-day{
    &:hover{
      background-color: #f2eed9;
      cursor: pointer;
    }
  }
  .remove-event-button{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ddd;
    z-index: 999;
    &:hover{
      color: #7d7d7d;
    }
  }
}